<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular 2 CRUD App
  </h1>
</div>

<ul class="employeeList">
  <li *ngFor = "let employee of employeeCollection" (click)="OpenForEdit(employee)" [class.selected]="employee == selectedEmployee">
    <span class="badge">{{employee.EmployeeID}}</span> {{employee.Code}} - {{employee.Name}}
  </li>
</ul>

<div class="employeeForm">
  <label>{{selectedEmployee.EmployeeID ==0 ? "Insert Employee":"Update Employee"}}</label><br/>
  <input [(ngModel)] = "selectedEmployee.Code" class="textBox" placeholder="Code"/><br/>
  <input [(ngModel)] = "selectedEmployee.Name" class="textBox" placeholder="Name"/><br/>
  <button (click)="AddOrEdit()">Submit</button>
  <button *ngIf = "selectedEmployee.EmployeeID != 0" (click)="Delete()">Delete</button>
</div>